.bg1 {
  background: url("./img/backgrounds/bg1.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.bg2 {
  background: url("./img/backgrounds/bg2.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
}


.bg3 {
  background: url("./img/backgrounds/bg3.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
}


.bg4 {
  background: url("./img/backgrounds/bg4.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.bg5 {
  background: url("./img/backgrounds/bg5.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.bg6 {
  background: url("./img/backgrounds/bg6.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
}


.bg7 {
  background: url("./img/backgrounds/bg7.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
}


.bg8 {
  background: url("./img/backgrounds/bg8.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.bg9 {
  background: url("./img/backgrounds/bg9.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.bg10 {
  background: url("./img/backgrounds/bg10.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
}


.bg11 {
  background: url("./img/backgrounds/bg11.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
}


.bg12 {
  background: url("./img/backgrounds/bg12.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.bg13 {
  background: url("./img/backgrounds/bg13.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
}
