.home-content {
  background: url("./img/backgrounds/one.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;

  .list-title {
    font-family: $font__secondary;
    font-weight: 400;
    margin-bottom: 1em;
    color: darken($white, 20%);
  }

  .bookkeeping {
    border-bottom: 2px solid $deep-purple;
    a {
      &:hover {
        color: $deep-purple;
      }
    }
  }

  .project-management {
    border-bottom: 2px solid $teal;
    a {
      &:hover {
        color: $teal;
      }
    }
  }

  .social-media {
    border-bottom: 2px solid $yellow;
    a {
      &:hover {
        color: $yellow;
      }
    }
  }

  .tools {
    border-bottom: 2px solid $vireo;
    a {
      &:hover {
        color: $vireo;
      }
    }
  }

  ul {
    list-style-type: none;
    z-index: 20;
    position: relative;

    .fa {
      margin-right: 10px;
    }

  }

  li {
    margin-top: 0.5em;
  }

  .card {
    @include rowMachine(4,5%);
    padding: 2%;
    float: left;
    background: rgba($black ,0.7);
    transition: 0.4s ease;

    &:hover {
      background: rgba($black ,1);
    }
  }
}
